* {
    box-sizing: border-box;
    font-family:"Comic Sans MS", cursive, sans-serif;
}

body {
    display: flex;
    font-weight: bold;
    text-align: center;
    min-height: 100vh;
    flex-direction: column;
    margin: 0 auto;
}

button {
    margin-right: 10px;
    margin-bottom: 10px;
    color: rgb(0, 0, 0);
    background-color: rgba(225, 255, 117, 0.567);
    font-size: 1.5vh;
    font-weight: 600;
    border-radius: 10px;
}

button:hover{
    cursor: pointer;
    transition: 0.5s;
    background-color: rgba(175, 199, 92, 0.567);
}

table {
    margin: 0 auto;
}

.scores table {
    font-size: 22px;
    letter-spacing: 0px;
    word-spacing: 0px;
    color: #000000;
    font-weight: 700;
    text-decoration: none solid rgb(129, 129, 129);
    font-style: italic;
    font-variant: normal;
    text-transform: capitalize;
    width: 365px;
    border: 1px solid #000000;
    margin-top: 1em;
}

.scores table th {
    text-align: center;
    background-color: #c5c5c5;
    padding: 5px;
}

.scores table td {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 5px;
    font-size: 13px;
    background-color: rgba(197, 195, 195, 0.1);
}

.cell {
    font-size: 1em;
    width: 1.5em;
    height: 1.5em;
    border: 1px solid rgb(66, 65, 65);
    background-color: rgb(174, 174, 174);
    transition: 0.45s;
}

.empty-cell {
    background-color: rgb(125, 125, 125);
}

.cell:hover,
.reset-game:hover {
    cursor: pointer;
    background-color: rgb(227, 125, 125);
}

.modal {
    margin: 20px auto;
    font-size: larger;
}

.game-controllers {
    background-color: rgba(19, 230, 222, 0.467);
}

.game-info {
    display: flex;
    align-items: center;
    margin: 0 auto;
    width: 250px;
}

/* td.cell.cell{

    color: aqua;
} */

.difficult-select {
    margin: 5px;
}

.reset-game {
    margin: 0;
    width: 2em;
    height: 2em;
    border-radius: 40%;
}

.board-container {
    margin: 50px auto;
}

footer {
    margin-top: auto;
    height: 55px;
    padding: 15px;
    background-color: rgba(19, 230, 222, 0.467);
    font-size: 25px;
}

/* Number cell color */
.n1 {
    color: blue;
}

.n2 {
    color: red;
}

.n3 {
    color: green;
}

.n4 {
    color: purple;
}

.n5 {
    color: lightsalmon;
}

.n6 {
    color: orange;
}

.n7 {
    color: black;
}

.n8 {
    color: gold;
}