* {
    box-sizing: border-box;
    font-family: "Comic Sans MS", cursive, sans-serif;
}

:root{
    --background-web-color:aquamarine;
    --cell-width : 1.7em;
    --cell-height : var(--cell-width);
    --button-color : rgba(225, 255, 117, 0.567);
    --button-color-action : rgba(175, 199, 92, 0.567);
    --button-size : 1.5vh;
    --button-text-color : rgb(0, 0, 0);
}

body {
    background-color: var(--background-web-color);
    background-size: 100% auto;
    display: flex;
    font-weight: bold;
    text-align: center;
    min-height: 100vh;
    flex-direction: column;
    margin: 0 auto;
}

button {
    margin-right: 10px;
    margin-bottom: 10px;
    color: var(--button-text-color);
    background-color: var(--button-color);
    font-size: var(--button-size);
    font-weight: 600;
    border-radius: 10px;
}

button:hover {
    cursor: pointer;
    transition: 0.5s;
    background-color: var(--button-color-action);
}

table {
    margin: 0 auto;
    margin-left: 1.5em;
}

.table-board {
    display: flex;
}

.scores {
    flex-grow: 0;
}

.dark-mode {
    background-color: #091540;
    color: white;
}

.scores table {
    font-size: 20px;
    color: black;
    font-weight: 700;
    font-style: italic;
    text-transform: capitalize;
    width: 350px;
    border: 1px solid #707070;
    margin-top: 1.5em;
}

.scores table th {
    text-align: center;
    background-color: #aaaaaa;
    padding: 5px;
}

.scores table td {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 5px;
    font-size: 13px;
    background-color: rgba(215, 215, 215, 0.7);
}

.cell {
    font-size: 1.25em;
    width: var(--cell-width);
    height: var(--cell-height);
    border: 1.5px solid rgb(130, 130, 130);
    background-color: rgb(174, 174, 174);
    transition: 0.45s;
}

.empty-cell {
    background-color: rgb(125, 125, 125);
}

.cell:hover,
.reset-game:hover {
    cursor: pointer;
    background-color: rgb(227, 125, 125);
}

.modal {
    margin: 20px auto;
    font-size: larger;
}

.game-controllers {
    background-color: rgba(19, 230, 222, 0.75);
}

.game-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 12px;
    margin: 0 auto;
    width: 35ex;
}

td.cell.cell {
    color: rgb(249, 105, 2);
}

.difficult-select {
    margin: 5px;
}

.reset-game {
    margin: 0 auto;
    width: 3em;
    height: 3em;
    border-radius: 50%;
}

.board-container {
    margin: 20px 20%;
    margin-top: 1.5em;
}

.modal {
    margin-top: 1em auto;
    margin-left: 40vmax;
}

footer {
    margin-top: auto;
    height: 55px;
    padding: 15px;
    background-color: rgba(19, 230, 222, 0.467);
    font-size: 25px;
}
